<div class="container">
    <h1>User Manager</h1>
    <form #registrationForm = "ngForm">
        <pre></pre>
        <div class="form-group">
            <label for="mail">Mail</label><br>
            <input required type="email" name="mail" class = "form-control" #mail="ngModel" ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <div *ngIf="mail.invalid" class="alert alert-danger">
               <p>Mail required</p>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="password">Password</label><br>
            <input required type="password" name="password" class = "form-control" #password="ngModel" ngModel>
            <div *ngIf="password.invalid" class="alert alert-danger">
                <p>Password required</p>
            </div>
        </div>
        <pre></pre>
        <button class="btn btn-primary" id="add-user-form" type="submit" [disabled]="!registrationForm.form.valid" (click)="submitAdd(registrationForm)">Add</button>
        <pre></pre>
        <a routerLink="/login">Login</a>
    </form>
</div>