<div class="container">
    <h1>User Manager</h1>
    <form #addForm = "ngForm">
        <pre></pre>
        <div class="form-group">
            <label for="email">Mail</label><br>
            <input required type="text" name="mail" class = "form-control" #mail="ngModel"  ngModel>
            <div *ngIf="mail.invalid" class="alert alert-danger">
               <p>Mail required</p>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="password">Password</label><br>
            <input required type="password" name="password" class = "form-control" #password="ngModel" ngModel>
            <div *ngIf="password.invalid" class="alert alert-danger">
                <p>Password required</p>
            </div>
        </div>
        <pre></pre>
        <button class="btn btn-primary" id="add-user-form" type="submit" [disabled]="!addForm.form.valid" (click)="submitAdd(addForm)">Add</button>
        <button class="btn btn-secondary" id="update-user-form" type="submit" [disabled]="!addForm.form.valid" (click)="submitUpdate(addForm)">Update</button>
        <button class="btn btn-secondary" id="delete-user-form" type="submit" (click)="submitDelete(addForm)">Delete</button>
    </form>
</div>