
body { font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #888; line-height: 30px; text-align: center; }

a { color: #4DB6AC; border-bottom: 1px  #4DB6AC; text-decoration: none; transition: all .3s; }
a:hover, a:focus { color: #47a69d; border-bottom: 1px solid #47a69d; text-decoration: none; }

h1 { font-size: 50px; font-weight: 300; color: #555; line-height: 46px; font-style: italic; }
h3 { font-size: 26px; font-weight: 300; color: #555; line-height: 46px; font-style: italic; }

::-moz-selection { background: #47a69d; color: #fff; text-shadow: none; }
::selection { background: #47a69d; color: #fff; text-shadow: none; }


.form-example { padding: 20px 0; }

.form-example p.description { margin-bottom: 20px; }
.form-example p.copyright { margin-top: 40px; }

.form-example .form-group { text-align: left; }

.form-example input[type="text"],
.form-example input[type="file"],
.form-example input[type="number"] {
    background: none; border: 1px solid #ddd; 
    font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #888; 
    box-shadow: none;
}
.form-example input[type="text"]:focus,
.form-example input[type="file"]:focus,
.form-example input[type="number"]:focus { outline: 0; background: none; border: 1px solid #4DB6AC; box-shadow: none; }

.form-example input[type="text"]::-moz-placeholder,
.form-example input[type="file"]::-moz-placeholder,
.form-example input[type="number"]::-moz-placeholder { color: #bbb; font-style: italic; }

.form-example input[type="text"]:-ms-input-placeholder,
.form-example input[type="file"]:-ms-input-placeholder,
.form-example input[type="number"]:-ms-input-placeholder { color: #bbb; font-style: italic; }

.form-example input[type="text"]::-webkit-input-placeholder,
.form-example input[type="file"]::-webkit-input-placeholder,
.form-example input[type="number"]::-webkit-input-placeholder { color: #bbb; font-style: italic; }

.form-example button.btn-customized {
	margin-top: 1rem;
	padding: .75rem 1.5rem; 
	background: #4DB6AC;
	border: 0; 
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400; color: #fff; 
    box-shadow: none;
}

.form-example button.btn-customized:hover, 
.form-example button.btn-customized:active, 
.form-example button.btn-customized:focus, 
.form-example button.btn-customized:active:focus, 
.form-example button.btn-customized.active:focus,
.form-example button.btn.btn-primary:not(:disabled):not(.disabled):active,
.form-example button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #47a69d; border: 0; color: #fff; box-shadow: none;
}

.form-example input.ng-touched.ng-invalid{
  border: 2px solid red;
}

button.btn-customized {
	padding: .75rem 1.5rem; 
	background: #4DB6AC;
	border: 0; 
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400; color: #fff; 
    box-shadow: none;
}

button.btn-customized:hover, 
button.btn-customized:active, 
button.btn-customized:focus, 
button.btn-customized:active:focus, 
button.btn-customized.active:focus,
button.btn.btn-primary:not(:disabled):not(.disabled):active,
button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #47a69d; border: 0; color: #fff; box-shadow: none;
}

.card.h-100 a.btn-customized {
	padding: .75rem 1.5rem; 
	background: #4DB6AC;
	border: 0; 
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400; color: #fff; 
    box-shadow: none;
}

.card.h-100 .btn-customized:disabled {
	padding: .75rem 1.5rem; 
	background: #4DB6AC;
	border: 0; 
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400; color: #fff; 
    box-shadow: none;
}

.card.h-100 {
	border: 1px solid #4DB6AC;
	margin-bottom: 2rem;
	width: 30rem;
}

.card.h-100 .card-body{
	background-color: #f8f9fa;
}

.card.h-100 img{
	border-bottom: 1px solid #4DB6AC;
}