<h2>Welcome {{user.mail}}</h2>
<div>
    <h2>My NFTs</h2>
    <!--<ul class="nft">
        <li *ngFor="let nft of NFTs">
    </ul>
    <button type="button" (click)="addNft()">ADD NFT</button>-->
    <button type="button" (click)="onClickForm()">+</button>   
    <div *ngIf="isActive">
        <form #addForm = "ngForm">
            Name: <input required type="text" name="name" #name="ngModel" ngModel>
            <div *ngIf="name.invalid" class="alert alert-danger">
                <p>Name required</p>
            </div>
            <pre></pre>
            ID class: <input required type="text" name="id" #id="ngModel" ngModel>
            <div *ngIf="id.invalid" class="alert alert-danger">
                <p>ID required</p>
            </div>
            <pre></pre>
            Price: <input required type="number" name="price" #price="ngModel" ngModel>
            <div *ngIf="price.invalid" class="alert alert-danger">
                <p>Price required</p>
            </div>
            <pre></pre>
            Image: <input required type="file" name="image" #image="ngModel" ngModel>
            <pre></pre>
            <button type="submit" [disabled]="!addForm.form.valid" (click)="submitAdd()">ADD</button>   
        </form>
    </div>
</div>
<pre></pre>
<a routerLink="manage">Manage your account</a>
<pre></pre>
<button type="button" (click)="logout()">LOGOUT</button>
