<h2>Welcome {{user.mail}}</h2>
<div>
    <h2>My NFTs</h2>
    <ul class="nft">
        <li *ngFor="let nft of myNFTs; index as i">
            {{nft.name}} 
            <a href="javascript: void(0);" type ='button' class="btn btn-link" (click)="openConfirm(template)">Sell</a>
            <div class="container row">
                <div class="col-md-12">
                    <img src={{retrievedImages[i]}}>
                </div>
            </div>
            <ng-template #template>
                <div class="modal-body text-center">
                  <p>Do you want to sell {{nft.name}} - PRICE: {{nft.price}} ?</p>
                  <button type="button" class="btn btn-default" (click)="removeNft(nft)" >Yes</button>
                  <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
                </div>
              </ng-template>
        </li>
    </ul>
    <button type="button" (click)="onClickForm()">+</button>   
    <div *ngIf="isActive">
        <form #addForm = "ngForm">
            Name: <input required type="text" name="name" #name="ngModel" ngModel>
            <div *ngIf="name.invalid" class="alert alert-danger">
                <p>Name required</p>
            </div>
            <pre></pre>
            Price: <input required type="number" name="price" #price="ngModel" ngModel>
            <div *ngIf="price.invalid" class="alert alert-danger">
                <p>Price required</p>
            </div>
            <pre></pre>
            Image: <input required type="file" name="image" #image="ngModel" ngModel (change)="onFileChanged($event)">
            <!--
            <input required type="file" name="image" #image="ngModel" ngModel >
            -->
            <pre></pre>
            <button type="submit" [disabled]="!addForm.form.valid" (click)="addNft(addForm)">ADD</button>   
        </form>
    </div>
</div>
<pre></pre>
<a routerLink="manage">Manage your account</a>
<pre></pre>
<button type="button" (click)="logout()">LOGOUT</button>

<!--
<pre></pre>
<div class="container row">
    <div class="col-md-12">
        <h1>Upload Image</h1>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">

    </div>
    <div class="col-md-6">
        <input type="button" (click)="onUpload()" value="upload">
    </div>
</div>
<hr />
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
            name="name" />
    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">

    </div>
</div>

<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        </div>
    </div>
</div>
-->